- name: Play to loop
  become: yes
  hosts: mysql
  vars:
    apps_to_manage:
      nginx: absent
      mysql: absent
      nodejs: absent     
  tasks:
  - name: application 
    ansible.builtin.package:
      name: "{{ item.key }}"
      state: "{{ item.value }}"
    loop: "{{ apps_to_manage  | dict2items }}"

  - name: applicaton result
    ansible.builtin.debug:
      msg: "{{ item.key }} application has been set to {{ item.value }}"
    loop: "{{ apps_to_manage | dict2items }}"